html {
  height: 100%;
}

body {
  display: flex;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

a, a:hover, a:visited, a:active {
  color: inherit;
}

h1 {
  border-bottom: 2px solid red;
  font-size: 2.1em;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}

footer {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.sides {
  width: 100%;
}

.project {
  margin-bottom: 0.5rem;
}

.project a:hover {
  background-color: black;
  color: white;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

#left-side {
  padding: 16px;
}

#right-side {
  background-image: url('https://images.unsplash.com/photo-1493957988430-a5f2e15f39a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

#social-links {
  display: flex;
}

#social-links li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  margin: 0 0.4rem;
  transition: all 0.2s ease-in-out;
}

#social-links li:hover {
  color: black;
  transform: scale(1.2);
}

@media (min-width: 1024px) {
  .sides {
    width: 50%;
  }
  
  #right-side {
    display: block;
  }
}