.section-height {
  height: 200px;
}

#intro {
  background-color: blue;
}

#about {
  background-color: red;
}

#skills {
  background-color: green;
}

#projects {
  background-color: yellow;
}

#contact {
  background-color: purple;
}

#footer {
  background-color: orange;
}
